<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ consts.appName }}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/deps.min.css">
  <link rel="stylesheet" href="/assets/css/app.min.css">
</head>
<body ng-app="bovinoApp">
<ul id="movimento" class="dropdown-content">
  <li><a href="#!">Vacinar</a></li>
  <li><a href="#!">Pesar</a></li>
  <li class="divider"></li>
  <li><a href="#!">Usar Produto</a></li>
</ul>
<header class="content #33691e light-green darken-4 center" ><a href="#!" class="brand-logo center">Logo</a></header>
<nav>
    <div class="nav-wrapper #33691e light-green darken-4">
      
      <ul class="left hide-on-med-and-down">
        <li><a  ui-sref="bovino">Bovino</a></li>
        <li><a href="badges.html">Estoque</a></li>
        <li class="active"><a href="collapsible.html">Produto</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="movimento">Movimento<i class="material-icons center">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
  <div class="content">
    <div ui-view></div>
  </div>
 {{2+2}}

  <script src="/assets/js/deps.min.js"></script>
  <script src="/assets/js/app.min.js"></script>
</body>
</html>
